body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  background: rgb(188, 195, 216);
  background: linear-gradient(
    15deg,
    rgba(188, 195, 216, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.quem-somos {
  background: rgb(188, 195, 216);
  background: linear-gradient(
    90deg,
    rgba(188, 195, 216, 1) 0%,
    rgba(208, 179, 200, 1) 100%
  );
  color: #3c687e;
}

.margin {
  padding-top: 30px;
  padding-bottom: 30px;
}

.parceiros {
  background-color: #d0b3c8;
  color: #3c687e;
}

.servicos {
  background: rgb(188, 195, 216);
  background: radial-gradient(
    circle,
    rgba(188, 195, 216, 1) 0%,
    rgba(197, 187, 208, 1) 50%,
    rgba(208, 179, 200, 1) 100%
  );
  color: #3c687e;
}

.bg-footer {
  background-color: #c5bbd0;
  color: #3c687e;
}

.imagem {
  border-radius: 30px 55px;
}
